
            .id {
                font-weight: bold;
            }
            .suite, .lat, .lng {
                width: 80px;
            }
           
           .selectedName {
               cursor: pointer;
           }

           .nameHover {
               color: white;
               background-color: rgb(39, 192, 212);
           }

